@tailwind base;
@tailwind components;
@tailwind utilities;

.eczar {
  font-family: "Eczar", serif;
}
.fondamento {
  font-family: "Fondamento", cursive;
}
.eagle {
  font-family: "Eagle Lake", cursive;
}
.federant {
  font-family: "Federant", cursive;
}
.almendra {
  font-family: "Almendra", serif;
}
.astloch {
  font-family: "Astloch", cursive;
}

.modal-box::-webkit-scrollbar-track {
  margin: 1rem;
}
/* .lg\:drawer-open > .drawer-toggle ~ .drawer-side > *:not(.drawer-overlay) {
  transform: translateX(0%);
  position: relative;
  z-index: 50;
} */
@keyframes slideIn {
  from {
      transform: translateY(100%);
  }
  to {
      transform: translateY(0);
  }
}

.slide-in {
  animation: slideIn 0.5s forwards;
}
@keyframes fadeInSlideIn {
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.fade-in-slide-in {
  animation: fadeInSlideIn 0.5s forwards;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
