@tailwind base;
@tailwind components;
@tailwind utilities;

.eczar {
  font-family: "Eczar", serif;
}
.fondamento {
  font-family: "Fondamento", cursive;
}
.eagle {
  font-family: "Eagle Lake", cursive;
}
.federant {
  font-family: "Federant", cursive;
}
.almendra {
  font-family: "Almendra", serif;
}
.astloch {
  font-family: "Astloch", cursive;
}

/* .modal-box {
  scrollbar-gutter: stable;
} */


/* onload/render animations */
@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.slide-in {
  animation: slideIn 0.5s forwards;
}
@keyframes fadeInSlideIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-slide-in {
  animation: fadeInSlideIn 0.5s forwards;
}

.header-background {
  border-radius: 19px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 13px 13px 12px #aaaaaa, -13px -13px 12px #ffffff;
}
.header-background-inverse {
  border-radius: 19px;
  background: linear-gradient(145deg, #0a0a0a, #303030);
  box-shadow: 13px 13px 12px #000000, -13px -13px 12px #202020;
}


/* 3d shadow */
.shadowed {
  text-shadow: 3px 3px 2px black;
  transform: skew(-10deg, -10deg);
}

/* dice animation on dungeon master page */

#diceResult {
  font-size: 30px;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 1s;
}

.rollAnimation {
  animation: roll 1s;
}

@keyframes roll {
  0% { transform: rotate(0deg); }
  /* 25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); } */
  100% { transform: rotate(360deg); }
}


/* making glass cards work correctly */
.glass-container:hover .glass-content {
  opacity: 1;
}

/* tailwind css setupt */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
