@tailwind base;
@tailwind components;
@tailwind utilities;

.eczar {
  font-family: "Eczar", serif;
}
.fondamento {
  font-family: "Fondamento", cursive;
}
.eagle {
  font-family: "Eagle Lake", cursive;
}
.federant {
  font-family: "Federant", cursive;
}
.almendra {
  font-family: "Almendra", serif;
}
.astloch {
  font-family: "Astloch", cursive;
}

.lg\:drawer-open > .drawer-toggle ~ .drawer-side > *:not(.drawer-overlay) {
  position: relative;
  left: 0;
  transform: none;
}
[dir="rtl"] .lg\:drawer-open > .drawer-toggle ~ .drawer-side > *:not(.drawer-overlay) {
  position: relative;
  right: 0;
  transform: none;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
